<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload Image</title>
</head>
<body>
<h2>Upload an Image</h2>
<!--<form action="http://localhost:8080/uploadImage" method="POST" enctype="multipart/form-data">-->
<!--  <input type="hidden" name="username" th:value="${username}" />-->
<!--  <input type="file" name="image" accept="image/*" required><br><br>-->
<!--  <button type="submit" enctype="multipart/form-data">Upload</button>-->
<!--</form>-->
<form action="/upload" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="username" th:value="${username}" />
  <input type="file" name="image" accept="image/*" required>
  <button type="submit">Upload Image</button>
</form>
</body>
</html>
